.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 30px;
  gap: 20px;
  &__photo-1 {
    width: 448px;
    height: 230px;
    border-radius: 10px;
  }
  &__color-last {
    background-color: $background-colorLast;
    width: calc(100% - 468px);
    border-radius: 10px;
  }
  &__color-first {
    background-color: $notice-color;
    width: calc(100% - 750px);
    border-radius: 10px;
  }
  &__photo-2 {
    width: 730px;
    height: 552px;
    border-radius: 10px;
  }
}

@include netbook {
    .gallery {
    padding: 40px 35px;
    &__photo-2 {
      width: 500px;
      height: 350px;
    }
    &__color-first {
      width: calc(100% - 520px);
    }
  }
}

@include tablet {
  .gallery {
    padding: 20px 60px 60px;
    &__photo-2 {
      width: 455px;
      height: 344px;
    }
    &__color-first {
      width: calc(100% - 475px);
    }
  }
}

@include mini-tablet {
  .gallery {
    padding: 20px 20px;
    &__photo-1 {
      width: 100%;
      height: 142px;
    }
    &__color-last {
      width: 100%;
      height: 67px;
      border-radius: 4px;
    }
    &__color-first {
      width: 100%;
      height: 124px;
      border-radius: 4px;
    }
    &__photo-2 {
      width: 100%;
      height: 211px;
    }
  }
}
