.logo {
  display: flex;
  margin-bottom: 60px;
  margin-left: 6px;

  &__text {
    margin: 0;
    @include text-regular(22px, 400, normal, 30px);
    display: flex;
    align-items: center;
  }

  &__notice {
    @include text-regular(12px, 400, normal, 12px);
    background-color: $notice-color;
    color: $primary-bg-color;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 20px;
  }
}

@include tablet {
  .logo {
    margin-bottom: 70px;
    margin-left: 0;
  }
}

@include mobile {
  .logo {
    margin-bottom: 60px;
  }
  .logo__text {
    @include text-regular(20px, 400, normal, 28px);
  }
  .logo__notice {
    margin-left: 16px;
  }
}
