.theme {
  background-image: var(--toogle-btn);
  border: none;
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 40px;
  padding: 0;
}
