$primary-color: #FFFFFF;
$primary-bg-color: #000000;
$notice-color: #25E197;
$button-color: #47474C;

$max-width: 1440px;
$min-width: 320px;

$netbook: 1024px;
$tablets: 768px;
$mini-tablets: 600px;
$mobile: 320px;
